/* Layout css: */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.brand {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.site-header {
    position: relative;
    background-color: #A7AFB2;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav__wrapper {
    position: fixed;
    top: 80px;
    left: 0;
    width: Max(220px, 20%);
    bottom: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    display: block;
}

.nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    background-color: black;
    color: white;
}

.nav__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__item a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: grey;
    font-size: 24px;
}

.nav__item a:hover {
    color: white;
}

.nav__toggle {
    all: unset;
    margin: 10px;
    font-size: 24px;
}

.nav__toggle:hover {
    color: white;
}

.button {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 24px;
}

.button:hover {
    color: white;
}

/* Pages specific  css (login): */

.login-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 220px;
    width: 350px;
    background-color: #bdc3c7;
    border-radius: 20px;
}

.login-header {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: normal;
}

input[type=text], input[type=password], input[type=submit] {
    width: 300px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 10px;
    font-weight: lighter
}

.warning {
    text-align: center;
    color: red;
}

/* Pages specific  css (change): */

.change-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 350px;
    background-color: #bdc3c7;
    border-radius: 20px;
}

.change-header {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: normal;
}

input[type=text], input[type=password], input[type=submit] {
    width: 300px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 10px;
    font-weight: lighter
}

/* Pages specific  css (landing): */

.arrow_nav {
    display: flex;
    margin-left: 10px;
}

.control {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #A7AFB2;
    border-radius: 20px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.prev,
.next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.prev {
    background-image: url(/../img/chevron_left.png);
    left: 10px;
}
.next {
    background-image: url(../img/chevron_right.png);
    right: 10px;
    overflow: hidden;
}
.prev:active,
.next:active {
    transform: scale(0.8);
}

.container {
    position: relative;
    background: #aad5f6;
}
.slide-1 {
    background: url('../img/1.jpg');
}
.slide-2 {
    background: url('../img/2.jpg');
}
.slide-3 {
    background: url('../img/3.jpg');
}

.slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.caption {
    background: rgba(0, 0, 0, 0.03);
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 0;
}
.caption h3 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding: 18px;
}
.caption p {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    color: #ccc;
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
}

/* Pages specific  css (view): */

.btn-back a {
    text-decoration: none;
    color: black;
}

.btn-back, .btn-delete, .btn-edit {
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.btn-back:hover {
    cursor: pointer;
}

.container {
    clear: both;
}

.title {
    display: inline;
    text-decoration: underline;
    margin-left: 25px;
    font-weight: normal;
}

.date {
    margin-left: 25px;
    margin-top: 5px;
    font-style: italic;
    font-weight: lighter;
}

.text {
    margin: 25px;
}

.author {
    margin: 25px;
    font-size: 15px;
    font-style: italic;
}

.img {
    margin: 25px;
    border-radius: 12px;
    max-width: 90vw;
}

.edit-container {
    clear: both;
    margin-left: 25px;
}

.img-desc {
    margin: 25px;
}

.warning {
    clear: both;
    color: #EE2400;
    margin-left: 25px;
}

.warning-delete {
    margin-left: 25px;
    margin-top: 10px;
}

/* Pages specific  css (blog): */

.container {
    max-width: 90%;
    margin: 1rem auto auto;
}

.container-item {
    width: 300px;
    overflow: hidden;
    border: 1px solid black;
    margin: 10px;
    float: left;
    border-radius: 13px;
}

.container-item a {
    text-decoration: none;
    color: black;
}

.container-item:hover {
    background-color: #bdc3c7;
}

.container-item img {
    width: 300px;
}

.container-item h3,p {
    text-align: center;
    padding: 5px;
}

.add-button-container {
    max-width: 10rem;
    margin: 1rem auto auto;
}

.add-button {
    height: 2rem;
    width: 9rem;
    border-radius: 0.2rem;
}

.add-button:hover {
    cursor: pointer;
    background-color: #bdc3c7;
}

/* Pages specific  css (add): */

.add-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 420px;
    width: 450px;
    background-color: #bdc3c7;
    border-radius: 20px;
}

.add-header {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: normal;
}

input[type=text], input[type=submit], input[type=file], textarea {
    width: 400px;
    height: 25px;
    font-size: 18px;
    margin-left: 25px;
    margin-bottom: 10px;
    font-weight: lighter
}

textarea {
    width: 400px;
    height: 190px;
    resize: none;
}