/* Layout css: */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.brand {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.site-header {
    position: relative;
    background-color: #A7AFB2;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav__wrapper {
    position: fixed;
    top: 80px;
    left: 0;
    width: Max(220px, 20%);
    bottom: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    display: block;
}

.nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    background-color: black;
    color: white;
}

.nav__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__item a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: grey;
    font-size: 24px;
}

.nav__item a:hover {
    color: white;
}

.nav__toggle {
    all: unset;
    margin: 10px;
    font-size: 24px;
}

.nav__toggle:hover {
    color: white;
}

.button {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 24px;
}

.button:hover {
    color: white;
}

/* Pages specific  css (login): */

.login-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 220px;
    width: 350px;
    background-color: #bdc3c7;
    border-radius: 20px;
}

.login-header {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: normal;
}

input[type=text], input[type=password], input[type=submit] {
    width: 300px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 10px;
    font-weight: lighter
}

.warning {
    text-align: center;
    color: red;
}

/* Pages specific  css (change): */

.change-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 350px;
    background-color: #bdc3c7;
    border-radius: 20px;
}

.change-header {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: normal;
}

input[type=text], input[type=password], input[type=submit] {
    width: 300px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 10px;
    font-weight: lighter
}

/* Pages specific  css (): */
