.gallery {
    margin: 2rem auto;
    max-width: 90%;
}

.gallery img {
    width: 300px;
    margin: 0.1rem;
    border: black 1px solid;
}

.vote-section {
    margin-top: 3rem;
    text-align: center;
}

.vote-title {
    margin-bottom: 1rem;
}

.vote-button {
    height: 2rem;
    width: 9rem;
    border-radius: 0.2rem;
}

.vote-button:hover {
    cursor: no-drop;
    background-color: #bdc3c7;
}

.myPicture-title {
    padding: 1rem;
}

.preview-desc {
    text-align: center;
}

.input {
    width: 400px;
    height: 25px;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: lighter
}

.add-section {
    height: 200px;
    max-width: 450px;
    margin: 2rem auto;
    background-color: #bdc3c7;
    border-radius: 20px;
}

.add-header {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: normal;
}

.checkbox {
    margin-left: 25px;
}

.title {
    max-width: 90%;
    margin: 1rem auto auto;
}

.container {
    max-width: 90%;
    margin: 1rem auto auto;
}

.container-item {
    width: 300px;
    overflow: hidden;
    border: 1px solid black;
    margin: 10px;
    float: left;
    border-radius: 13px;
}

.container-item img {
    width: 300px;
}

.container-checkbox {
    text-align: center;
}

#myImg {
    border-radius: 5px;
    cursor: zoom-in;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

input[type=checkbox] {
    cursor: pointer;
}

.warning {
    margin-top: 1rem;
    color: red;
    text-align: center;
}

.confirm-button-container {
    max-width: 10rem;
    margin: 1rem auto auto;
}

.confirm-button {
    height: 2rem;
    width: 9rem;
    border-radius: 0.2rem;
}

.confirm-button:hover {
    cursor: pointer;
    background-color: #bdc3c7;
}